@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Black.ttf") format("truetype");
font-style: normal;
font-weight: 900;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-BlackItalic.ttf") format("truetype");
font-style: italic;
font-weight: 900;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
font-style: normal;
font-weight: 700;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-BoldItalic.ttf") format("truetype");
font-style: italic;
font-weight: 700;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-ExtraBold.ttf") format("truetype");
font-style: normal;
font-weight: 800;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-ExtraBoldItalic.ttf") format("truetype");
font-style: italic;
font-weight: 800;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-ExtraLight.ttf") format("truetype");
font-style: normal;
font-weight: 200;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-ExtraLightItalic.ttf") format("truetype");
font-style: italic;
font-weight: 200;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Italic.ttf") format("truetype");
font-style: italic;
font-weight: 400;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Light.ttf") format("truetype");
font-style: normal;
font-weight: 300;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-LightItalic.ttf") format("truetype");
font-style: italic;
font-weight: 300;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Medium.ttf") format("truetype");
font-style: normal;
font-weight: 500;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-MediumItalic.ttf") format("truetype");
font-style: italic;
font-weight: 500;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
font-style: normal;
font-weight: 400;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
font-style: normal;
font-weight: 600;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-SemiBoldItalic.ttf") format("truetype");
font-style: italic;
font-weight: 600;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-Thin.ttf") format("truetype");
font-style: normal;
font-weight: 100;
}
@font-face {
font-family: "BarlowSemiCondensed";
src: url("../fonts/BarlowSemiCondensed-ThinItalic.ttf") format("truetype");
font-style: italic;
font-weight: 100;
}
